<div class="container-fluid px-md-3 px-2" id="home-container">
    <div class="jumbotron text-center text-white">
        <h1 class="display-4">Welcome to Alpha Blogs</h1>
        <p class="lead">Discover amazing stories, share your thoughts, and connect with fellow bloggers in our vibrant community.</p>
        <hr class="my-4">
        <p class="d-none d-sm-block">Join thousands of writers and readers who are already part of our growing platform.</p>
        <div class="d-flex flex-column flex-sm-row justify-content-center align-items-center gap-3 mt-4">
            <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-success btn-lg'%>
            <%= link_to 'Follow on LinkedIn', "https://www.linkedin.com/comm/mynetwork/discovery-see-all?usecase=PEOPLE_FOLLOWS&followMember=anuraagmisshra", target: "_blank", class: "libutton btn btn-success btn-lg", rel: "noopener" %>
        </div>
    </div>
</div>